body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
  }

  h1 {
    text-align: center;
}
  
  .play-button {
    padding: 20px 40px;
    font-size: 40px;
  }