body{
    text-align: center;
}

header{
    padding-top: auto;
    padding-bottom: auto;
    padding-left: auto;
    padding-right: auto;
}

h1 {
    text-align: center;
}

table.board {
    margin-left: auto;
    margin-right: auto;
}

table{
    border-collapse: collapse;
    width: 300px;
    height: 300px;
}

td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    sor: pointer;
    
}

.cell-button {
    box-shadow: 0px 4px 8px 1px black;
    width: 100px;
    height: 100px;
}

.cell-button:hover {
    box-shadow: 0px 0px 0 0 black;
    background-color: #e3bee5;
}

.cell-button:disabled {
    box-shadow: 0px 0px 0px 0px black;
    background-color: #b3efeb;
}